body{
    direction: rtl;
    background-image: rgb(254, 206, 206);
    margin: 0px;
}
header{
    background-color: rgb(65, 210, 55);
    text-align:center;
    margin: 5px;
    height: 55px;
    font-size: 50px;
}
.g-3 needs-validation{
    background-color: rgb(13, 244, 252);
}
/* تنظیمات اضافی برای متن‌ها */
#main_left h1 {
    word-break: break-word;
    overflow-wrap: break-word;
}

#main_left p {
    font-size: 1.2rem;
    line-height: 1.6;
}
/* استایل برای بدنه صفحه */
body {

  }
  
  /* استایل برای کادر لاگین */
  .login {
    border: 1px solid black;
    width: 400px;
    height: 500px;
    background: url('WhatsApp-Image-2020-09-12-at-04.34.12.jpeg');
    color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }
  
  /* استایل فرم */
  #form {
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(40%);
    box-sizing: border-box;
    gap: 15px;
  }
  
  /* استایل عنوان فرم */
  #h1 {
    font-weight: normal;
    font-size: 24px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    text-align: center;
  }
  
  /* استایل برچسب‌ها */
  #label {
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    padding-left: 10px;
  }
  
  /* استایل فیلدهای ورودی (نام کاربری و پسورد) */
  #username, #password {
    background: rgba(255, 255, 255, 0.3);
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    border: none;
    margin-bottom: 20px;
    color: white;
  }
  
  /* استایل دکمه ارسال */
  #button {
    background: rgba(45, 126, 231);
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    border: none;
    margin-top: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    color: white;
    cursor: pointer;
  }
  
  #button:hover {
    background: rgba(35, 106, 211);
  }
  